<footer id="page_footer">
	<ul>
		<li><%= link_to "Contact", "#" %></li>
		<li><%= link_to "Help", "#" %></li>
		<li><%= link_to "File a bug", "#" %></li>
	</ul>
	<p>&copy; 2012 FighBanality LLC. All Rights Reserved. All Wrongs Reversed.</p>
</footer>